
 body {font-family: "times new roman"; 
 margin-left: 20%; 
 margin-right: 20%;
 text-align:justify; 
 background:ivory; 
 color : darkred;}
 
 p {text-indent : 2cm;} 
 
 h1,h2,h3{color:darkred; 
 marginleft:2cm } 