h1,h2{
	text-align:center;
}
main{width:70%;
padding:70px 0;
margin: 0 auto;
display:flex;
}
img{float:right;
width:200px;}

.leftCol{
	padding:2em;
	margin:2em;
border-style: dashed;
border-color:red;	
border-width:4px;
	flex-basis:33%;
}
.rightCol{
	padding:2em;
	margin:2em;
border-style: dashed;
border-color:red;	
border-width:4px;
	flex-basis:67%;
}
.rightPara{
	clear:both;
}
.lastPara{
position:fixed;
bottom:5px;	
}